DEBUG=
DJANGO_SETTINGS_MODULE='core.settings'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
POSTGRES_DB='anbk'
POSTGRES_HOST='127.0.0.1'
POSTGRES_PORT='5432'
DJANGO_PORT='3001'
DJANGO_SECRET_KEY='django-insecure-4$6$v8l&0*6#v!(#((^kgh-jh!!yj5@jog)@=6+o%w$9jrzqrf'
CALLBACK_URL='http://localhost:${DJANGO_PORT}/callback'
ALLOWED_HOSTS='127.0.0.1,localhost,127.0.0.1,127.0.0.1'